@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~/assets/fonts/bitter-light.ttf');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/bitter-medium.ttf');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/bitter-bold.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/inconsolata-medium.ttf');
}
